*.npz
preprocessed_data
preprocessed_data_both_windows
preprocessed_data_both_windows_fft96
preprocessed_data_both_windows_fft96_extra_data
preprocessed_data_both_windows_fft96_extra_data_no_noise
preprocessed_data_both_windows_fft96_no_noise
preprocessed_data_both_windows_fft96_holdout
preprocessed_data_both_windows_fft96_features
preprocessed_data_both_windows_fft96_imuaug01
preprocessed_data_both_windows_fft96_imuaug02
